.blogs{
    margin-left: 200px;
    margin-right: 200px;
}
.question-one{
    color: rgb(104, 4, 4);
}
.props-drilling{
    color: #0a8a06ec;
}
.context-api{
    color: rgb(219, 59, 10);
}
.inline-element{
    color: rgb(196, 130, 7);
}