.heading{
    text-align: center;
    color: rgba(17, 3, 56, 0.925);
}
.heading1{
    text-align: center;
    color: rgba(11, 0, 165, 0.753);
}
.home-page{
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
}
.home-img{
    margin-left: 60px;
}
.line-gap{
    line-height:.5;
}
.button-design{
    margin-top: 20px;
    margin-left: 220px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 3px; 
  background-color: #95cebb;
  border-radius: 3px;
}
.button-design:hover{
    background-color: #16ac7a;
}
.paragraph{
    margin-top: 40px;
}

/*----------------
      cart
----------------*/

.img-size{
    width: 220px;
    height: 148px;
}
.men-img{
    width: 10%;
    border-radius: 50%;
}

.cart-design{
    margin:80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.avata-rating{
    display: flex;
    align-items: center;
   
}
.span-tag{
    padding-left: 40px;
}
.cart-border{
    padding: 15px;
    border: 1px solid #49534b1f;
    box-shadow:5px 5px 5px gray;
    border-radius: 3px;

}
.customer-review{
    margin-top: 120px;
    text-align: center;
}

/*---------------- 
     Button 
-----------------*/
.button-center{
    text-align: center;
    margin-bottom: 30px;
}
.reviews-button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #6f9fbe;
    border: 3px; 
    border-radius: 5px;
 
}
.reviews-button:hover{
    background-color: rgb(31, 47, 189);
    border: 3px; 
    border-radius: 5px;
}